<section class="landing-hero">
  <img src={Routes.static_path(@conn, "/images/bomb.svg")} alt="cartoon bomb image">
  <p>A minesweeper game created with Pheonix LiveView</p>
</section>

<h2>Play</h2>

<div class="game-setup">
  <p>
    Please choose the difficulty.
  </p>
  <div class="difficulty-list">
    <div>
      <button>Beginner</button>
    </div>
    <div>
      <button>Intermediate</button>
    </div>
    <div>
      <button>Expert</button>
    </div>
  </div>
</div>