/* Alerts and form errors used by phx.new */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.alert p {
  margin-bottom: 0;
}

.alert:empty {
  display: none;
}

.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

/* LiveView specific classes for your customization */
.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-loading {
  cursor: wait;
}

.phx-modal {
  opacity: 1 !important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.phx-modal-content {
  background-color: #fefefe;
  margin: 15vh auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.fade-in-scale {
  animation: 0.2s ease-in 0s normal forwards 1 fade-in-scale-keys;
}

.fade-out-scale {
  animation: 0.2s ease-out 0s normal forwards 1 fade-out-scale-keys;
}

.fade-in {
  animation: 0.2s ease-out 0s normal forwards 1 fade-in-keys;
}

.fade-out {
  animation: 0.2s ease-out 0s normal forwards 1 fade-out-keys;
}

/*Custom styles for my app*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 5em;
  font-family: "Share Tech Mono", monospace
}

header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 4em;
  margin: 1em;
}

header h1 {
  font-size: 2.5em;
  font-weight: 500;
}

header nav {
  justify-self: flex-end;
  display: flex;
  gap: 2em;
}

nav a {
  height: 3em;
}

nav img {
  height: 100%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 2em;
}

main h2 {
  font-size: 2em;
  border-bottom: 3px solid #000;
}

main p {
  font-size: 1.5em;
}

.landing-hero {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1em;
  padding: 2em;
  background-color: #F07167;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  font-size: 1.5em;
}

.landing-hero img {
  max-width: 15%;
}

.game-setup {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.game-setup>form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.param-setup {
  width: 100%;
  padding: 1em 0;
  margin-bottom: 2em;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

#beginner+p,
#small+p {
  border-color: #FED9B7;
}

#intermediate+p,
#medium+p {
  border-color: #B9FEDA;
}

#expert+p,
#big+p {
  border-color: #DAB9FE;
}

[type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

[type=radio]+p {
  cursor: pointer;
  font-size: 1.5em;
  border-bottom: 3px solid;
  padding: 0.5em;
}

[type=radio]:checked+p {
  border-radius: 5px;
  border: 3px solid;
}

.game-setup>label {
  flex: 1 1 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#play-btn {
  all: unset;
  cursor: pointer;
  font-size: 1.5em;
  padding: 0.5em 1.5em;
  border: 3px solid #F07167;
  border-radius: 5px;
}

/*Keyframes*/

@keyframes fade-in-scale-keys {
  0% {
    scale: 0.95;
    opacity: 0;
  }

  100% {
    scale: 1.0;
    opacity: 1;
  }
}

@keyframes fade-out-scale-keys {
  0% {
    scale: 1.0;
    opacity: 1;
  }

  100% {
    scale: 0.95;
    opacity: 0;
  }
}

@keyframes fade-in-keys {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-out-keys {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}